{{define "title"}}Blog Posts - pietv{{end}}
{{define "content"}}
<p><h3 class="page-title">Blog Posts</h3></p>

<p>
{{range .Data}}
  <a class="post-title" href="{{.Path}}">{{.Title}}</a>
  <span class="post-date">{{.Time.Format "2 January 2006"}}</span>
{{end}}
</p>

{{end}}
